<table id="myTable">
    <thead>
        <tr>
            <th>name</th>
            <th>type</th>
            <th>muscle</th>
            <th>equipment</th>
            <th>difficulty</th>
            <th>instructions</th>
        </tr>
    </thead>
    <tbody>
        <!-- Table body will be populated dynamically -->
    </tbody>
</table>


