
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background: linear-gradient(135deg, #71b7e6, #9b59b6);
        }

        .container {
            max-width: 700px;
            width: 100%;
            background-color: #fff;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        }

            .container .title {
                font-size: 25px;
                font-weight: 500;
                position: relative;
            }

                .container .title::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 3px;
                    width: 30px;
                    border-radius: 5px;
                    background: linear-gradient(135deg, #71b7e6, #9b59b6);
                }

        .content form .user-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px 0 12px 0;
        }
        /* The container must be positioned relative: */
        .custom-select {
            position: relative;
            font-family: Arial;
        }

            .custom-select select {
                display: block; /*hide original SELECT element: */
            }

        .select-selected {
            background-color: DodgerBlue;
        }

            /* Style the arrow inside the select element: */
            .select-selected:after {
                position: absolute;
                content: "";
                top: 14px;
                right: 10px;
                width: 0;
                height: 0;
                border: 6px solid transparent;
                border-color: #fff transparent transparent transparent;
            }

            /* Point the arrow upwards when the select box is open (active): */
            .select-selected.select-arrow-active:after {
                border-color: transparent transparent #fff transparent;
                top: 7px;
            }

        /* style the items (options), including the selected item: */
        .select-items div, .select-selected {
            color: #ffffff;
            padding: 8px 16px;
            border: 1px solid transparent;
            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            cursor: pointer;
        }

        /* Style items (options): */
        .select-items {
            position: absolute;
            background-color: DodgerBlue;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
        }

        /* Hide the items when the select box is closed: */
        .select-hide {
            display: none;
        }

        .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
        }

        form .user-details .input-box {
            margin-bottom: 15px;
            width: calc(100% / 2 - 20px);
        }

        form .input-box span.details {
            display: block;
            font-weight: 500;
            margin-bottom: 5px;
        }

        .user-details .input-box input {
            height: 45px;
            width: 100%;
            outline: none;
            font-size: 16px;
            border-radius: 5px;
            padding-left: 15px;
            border: 1px solid #ccc;
            border-bottom-width: 2px;
            transition: all 0.3s ease;
        }

            .user-details .input-box input:focus,
            .user-details .input-box input:valid {
                border-color: #9b59b6;
            }

        form .gender-details .gender-title {
            font-size: 20px;
            font-weight: 500;
        }

        form .category {
            display: flex;
            width: 80%;
            margin: 14px 0;
            justify-content: space-between;
        }

            form .category label {
                display: flex;
                align-items: center;
                cursor: pointer;
            }

                form .category label .dot {
                    height: 18px;
                    width: 18px;
                    border-radius: 50%;
                    margin-right: 10px;
                    background: #d9d9d9;
                    border: 5px solid transparent;
                    transition: all 0.3s ease;
                }

        #dot-1:checked ~ .category label .one,
        #dot-2:checked ~ .category label .two,
        #dot-3:checked ~ .category label .three {
            background: #9b59b6;
            border-color: #d9d9d9;
        }

        form input[type="radio"] {
            display: none;
        }

        form .button {
            height: 45px;
            margin: 35px 0
        }

            form .button input {
                height: 100%;
                width: 100%;
                border-radius: 5px;
                border: none;
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                letter-spacing: 1px;
                cursor: pointer;
                transition: all 0.3s ease;
                background: linear-gradient(135deg, #71b7e6, #9b59b6);
            }

                form .button input:hover {
                    /* transform: scale(0.99); */
                    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
                }

        form .user-details .input-box {
            margin-bottom: 15px;
            width: 100%;
        }

        form .category {
            width: 100%;
        }

        .content form .user-details {
            max-height: 300px;
            overflow-y: scroll;
        }

        .user-details::-webkit-scrollbar {
            width: 5px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript">


        //$("#btnclick").on("Click", function ());
        $(document).ready(function () {
            debugger
            var input = document.querySelector("#phone");
            window.intlTelInput(input, {
                separateDialCode: true                
                
            });

            $("#frmsignup").validate({
                rules: {
                    "FullName": { required: true },
                    "Username": { required: true },
                    "Password": {
                        required: true,
                        minlength: 8
                    },
                    "Email": { required: true },
                    "rePassword": {
                        required: true,
                        equalTo: "#Password",
                        minlength: 8
                    }
                },
                Messages: {
                    Username: {
                        required: "UserName Is required"
                    },
                    rePassword: {
                        equalTo: 'Password Mismatch'
                    }
                },
                submitHandler: function (form) {
                    var f = $(form);
                    var uname = $('#Username').val();
                    //if (uname.length > 5) {
                        $.ajax({
                            type: 'POST',
                            url: f[0].action,
                            data: f.serializeArray(),
                            dataType: 'text',
                            success: function (returnval) {
                                debugger
                                if (returnval == 'true') {
                                    location.href = '/Home/Index?username=' + uname;
                                }
                                else {
                                    alert(returnval);
                                }

                            },
                            error:
                                alert('Ajax Call Error')

                        });
                    
                }

            });
        });

    </script>
</head>
<body>
    <div class="container">
        <div class="title">Sign UP</div>
        <div class="content">
            <form action="/UserRegister/SignUpform" id="frmsignup" method="post">
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">Full Name</span>
                        <input type="text" name="FullName" id="FullName" placeholder="Enter your name" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Username</span>
                        <input type="text" name="Username" id="Username" placeholder="Enter your username" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Email</span>
                        <input type="text" name="Email" id="Email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        @*<input type="text" class="" name="PhoneNumber" id="phonenum" onchange="checkphonevalid()" placeholder="Enter your number" required>*@
                        <input name="PhoneNumber" type="text" id="phone" />
                    </div>
                    <div class="input-box">
                        <span class="details">Password</span>
                        <input type="text" name="Password" id="Password" placeholder="Enter your password" autocomplete="off" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Confirm Password</span>
                        <input type="text" name="rePassword" id="rePassword" placeholder="Confirm your password" autocomplete="off" required>
                    </div>
                    <div class="custom-select" style="width:200px;">
                        <span class="details">User Type</span>

                        <select name="Usertype" required class="inputselect">
                            <option value="">Select Usertype</option>
                            <option value="Admin">Admin</option>
                            <option value="User">User</option>
                        </select>

                    </div>
                </div>
                <div class="gender-details">
                    <input type="radio" name="gender" value="M" id="dot-1">
                    <input type="radio" name="gender" value="F" id="dot-2">
                    <input type="radio" name="gender" value="O" id="dot-3">
                    <span class="gender-title">Gender</span>
                    <div class="category">
                        <label for="dot-1">
                            <span class="dot one"></span>
                            <span class="gender">Male</span>
                        </label>
                        <label for="dot-2">
                            <span class="dot two"></span>
                            <span class="gender">Female</span>
                        </label>
                        <label for="dot-3">
                            <span class="dot three"></span>
                            <span class="gender">Prefer not to say</span>
                        </label>
                    </div>
                </div>
                <div class="button">
                    <input type="submit" id="btnclick" value="Register">
                </div>
            </form>
        </div>
    </div>

</body>
</html>
